@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body{
    align-items: center;
    padding: 10px;
    background-color: #333;
}

img{
    width: 15%;
}

button{
    padding: 5px 15px;
    border-radius: 1000px;
    background-color: #eee;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
button:hover{
    background-color: #bbb;
}
